* {
	font-family: "Courier New", monospace;
	font-size: 20px;
	/* CSS reset */
	margin: 0;
	padding: 0;
}


/* selector - used to select elements by thier tag name  */

body {
	background-color: lightskyblue;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

h1 {
	color: black !important;
	text-align: center;
	font-size: 2rem;
}

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

#zuitt-motto {
	letter-spacing: 5px;
} 

/* class selector */
.offiring-item {
	text-transform: uppercase;
}

/* attribute selector */
input[required] {
	border-width: 2px;
	border-style: navy;
	background-color: white;
	width: 90%;
}

/* adjacent sibling selector */
#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/* descentant selector */
#bootcamp-learing-list li {
	color: #B4F8C8;
}

/* general sibling selector 
h2 ~ a {
	text-decoration: none;
}
*/

a {
	text-decoration: none;
}

/*register section*/

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.50%;
}

/*child selector*/
section > form > label {
	color: rgb(0, 0,128);
}

button {
	color: white;
	background-color: #cf0053;
	border: 0;
	border-radius: 15px;
}