/*universal selector*/
* {
	font-family: Verdana, sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

/*type-element-selector*/
h1 {
	font-size: 3rem;
}

/*id selector*/
#animal {
	text-transform: uppercase;
}

/*background-class-selector*/
body {
	background-color: green;
}

#animal + img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

p > a {
	letter-spacing: 10px;
}

